<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
   <title>逆L字ナビゲーション型</title>
    <link rel="stylesheet" th:href="@{css/profile.css}" >
</head>

<body>
    <header class="grovalNavigation">
       <p>将棋</p>
    </header>
    <main>
        <div class="localNavigation">

            <p>ユーザー名</p>
            <ul>
                <li><button class="button1" type="button" name="button">プロフィール</button></li>
                <li><button class="button1" type="button" name="button">友達一覧</button></li>
                <li><button class="button1" type="button" name="button">戦型選択</button></li>
                <li><button class="button1" type="button" name="button">投稿履歴</button></li>
                <li><a th:href="@{/findUser}">ユーザー検索</a></li>
            </ul>
        </div>

        <div class="content">
        <p>プロフィール</p>
        <div class="profile_table">
          <table>
            <tr>
              <td>ユーザー名</td>
              <td  ></td>
            </tr>
             <tr>
               <td>ユーザーID</td>
               <td th:text="${user_id}"></td>
             </tr>
            <tr>
              <td>性別</td>
              <td th:text="${gender}" ></td>
            </tr>
            <tr>
              <td>趣味</td>
              <td  th:text="${hobby}"></td>
            </tr>
            <tr>
              <td>段位.級位</td>
              <td th:text="${grade}" ></td>
            </tr>
            <tr>
              <td>将棋歴</td>
              <td th:text="${history}" ></td>
            </tr>
            <tr>
              <td>好きな戦型</td>
              <td th:text="${fav_battleType}" ></td>
            </tr>
          </table>
          <p>コメント</p>
          <p th:text="${comment}" ></p>
          <form th:action="@{FriendList}" method="post">
          	<button type="submit" name="select">友達一覧</button>
          </form>
          <form th:action="@{RegiterFriend}" method="post">
          	<button type="submit" name="register">友達登録</button>
          </form>


        </div>

        </div>
    </main>
</body>
</html>